<h3>Editing Book</h3>
<div class="book">
 <%= form_with model:@list do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>
 <p>Body</p>
 <%= f.text_area :body %>
</div>
<div class="create-box">
 <%= f.submit 'Update Book'%>
</div>
<% end %>

<ul>
 <li><%= link_to'Show', list_path(params[:id]) %></li>
 <li><%= link_to'Back', new_list_path %></li>
</ul>

