<h2>Books</h2>
<div class="new">
  <div class="box">
   <h4 class="title">Title</h4>
   <% @lists.each do |list| %>
     <span><%= list.title %></span>
   <% end %>
   </div>
   
  <div class="box">
  <h4 class="title">Body</h4>
  <% @lists.each do |list| %>
    <span><%= list.body %></span>
  <% end %>
   </div>
   
  <div class="box">
  <h4 class="title"><br></h4>
  <% @lists.each do |number| %>
   <%=link_to'Show', list_path(number) %>
  <% end %>
   </div>
  
  <div class="box">
  <h4 class="title"><br></h4>
  <% @lists.each do |number| %>
   <%=link_to'Edit', edit_list_path(number) %>
  <% end %>
   </div>
  
   <div class="box">
  <h4 class="title"><br></h4>
  <% @lists.each do |number| %>
  <%= link_to "Destroy",list_path(number), method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>
   </div>
</div>


<h3>New book</h3>
<div class="book">
  <div class"errorbox">
   <% if @list.errors.any? %>
   <%=@list.errors.count %>errors prohibited this book from being saved
  　<ul class="other">
     <% @list.errors.full_messages.each do |message| %>
     <li class="other"><%= message %> </li>
     <% end %>
    </ul>
    <% end %>
   </div>




<%= form_with model: @list, url:'/lists',method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  
  <p>Body</p>
  <%= f.text_area :body %>
</div>  
  
  
<div class="create-box">
  <%= f.submit 'Create Book' %>
</div>

<% end %>